body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Lobster Two", cursive;
}

h2 {
  color: #3046c5;
}

header h2 {
  color: #f1faee;
}

footer {
  background-image: linear-gradient(#f1faee, white);
  padding: 20px 0;
}

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(to right, #1d3557, #457b9d, #a8dadc);
  color: white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}
